/* media */

/* 1200 */
@media screen and (max-width: 1200px) {

  /* header */
  .phone-city {
    font-size: 9px;
  }

  .phone-num {
    font-size: 12px;
  }

  .header-right-top-links {
    font-size: 16px;
  }

  .header-right-nav ul {
    font-size: 14px;
  }

  /* slider */
  .slider {
    display: none;
  }
}

/* 768 */
@media screen and (max-width: 768px) {

    /* header */
  .header-logo {
    display: none;
  }

  .header-phone:first-child {
    margin-left: 25px;
  }

  .header-right-nav ul:first-child {
    margin-left: 25px;
  }
}

/* 576 */
@media screen and (max-width: 576px) {

    /* header */
  .header-right-top-links img {
    display: none;
  }

  .phone-city {
    font-size: 9px;
  }

  .phone-num {
    font-size: 9px;
  }

  .header-right-top-links {
    font-size: 11px;
  }

  .header-right-nav ul {
    font-size: 10px;
  }

  .header-phone:first-child {
    margin-left: 10px;
  }

  .header-right-top-links:last-child {
    margin-right: 10px;
  }

  .header-right-nav ul:last-child {
    margin-right: 10px;
  }

  .header-right-nav ul:first-child {
    margin-left: 10px;
  }

  .header-right-nav {
    height: 50px;
  }
}

/* 376 */
@media screen and (max-width: 376px) {

}