/* header */

header {
  display: flex;
  justify-content: space-between;
}

.header-logo {
  display: flex;
  align-items: center;
  margin-right: 25px;
}

.header-logo img {
  width: 100%;
}

.header-right {
  width: 1145px;
}

.header-right-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 63px;
  width: 100%;
  border-bottom: 2px solid #bbbbbb;
}

.phone-city {
  font-size: 11px;
  font-weight: bold;
}

.phone-num {
  font-size: 20px;
}

.header-right-top-links {
  display: flex;
  align-items: center;
  font-size: 20px;
}

.header-right-top-links img {
  margin-right: 10px;
}

.header-right-top-links a {
  text-decoration: none;
  color: black;
}

.header-right-top-links a:hover {
  color: rgb(0, 150, 0);
}

.header-right-top-links:last-child {
  margin-right: 25px;
}

.header-right-nav {
  height: 85px;
}

.header-right-nav ul {
  display: flex;
  height: 100%;
  align-items:center;
  justify-content: space-between;
  font-size: 22px;
}

.header-right-nav ul:last-child {
  margin-right: 25px;
}

.top-menu {
  text-decoration: none;
  color: black;
}

.top-menu:hover {
  color: rgb(0, 150, 0);
}

.active-menu {
  color: rgb(0, 150, 0);
}




/* @MEDIA */

/* 1200 */

@media (max-width: 1199.98px) {  

  .phone-city {
    font-size: 9px;
  }

  .phone-num {
    font-size: 18px;
  }

  .header-right-top-links {
    font-size: 16px;
  }

  .header-right-nav ul {
    font-size: 18px;
  }
}

/* 992 */

@media (max-width: 991.98px) {

  .header-logo img {
    width: 180px;
  }

  .phone-num {
    font-size: 14px;
  }

  .header-right-top-links {
    font-size: 14px;
  }

  .header-right-nav ul {
    font-size: 14px;
  }

  .header-phone:first-child {
    margin-left: 5px;
  }

  .header-right-nav ul:first-child {
    margin-left: 5px;
  }
}

/* 768 */

@media (max-width: 767.98px) {

  .header-logo {
    display: none;
  }

  .header-phone:first-child {
    margin-left: 25px;
  }

  .header-right-nav ul:first-child {
    margin-left: 25px;
  }
}

/* 576 */

@media (max-width: 575.98px) {

  .header-right-top-links img {
    display: none;
  }

  .phone-city {
    font-size: 9px;
  }

  .phone-num {
    font-size: 9px;
  }

  .header-right-top-links {
    font-size: 11px;
  }

  .header-right-nav ul {
    font-size: 10px;
  }

  .header-phone:first-child {
    margin-left: 10px;
  }

  .header-right-top-links:last-child {
    margin-right: 10px;
  }

  .header-right-nav ul:last-child {
    margin-right: 10px;
  }

  .header-right-nav ul:first-child {
    margin-left: 10px;
  }

  .header-right-nav {
    height: 50px;
  }
}

/* 480 */

@media (max-width: 479.98px) {

  .phone-city {
    font-size: 7px;
  }

  .phone-num {
    font-size: 9px;
  }

  .header-right-top-links {
    font-size: 9px;
  }

  .header-right-nav ul {
    font-size: 9px;
  }

  .header-logo {
    display: none;
  }

  .header-phone:first-child {
    margin-left: 5px;
  }

  .header-right-nav ul:first-child {
    margin-left: 5px;
  }
}